<% unless @accounts.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>账户名</th>
      <th>账户类型</th>
      <th>账户号</th>
      <th>账户所属银行</th>
      <th>银行电话</th>
      <th>所属地区</th>
      <th>余额</th>
    </tr>
    </thead>
    <tbody>
    <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.bank_account, account_path(account) %></td>
          <% if account.account_type == "1"%>
              <td>支付账户</td>
          <% elsif account.account_type == "2"%>
              <td>银行卡</td>
          <% end %>
          <td><%= account.bank_account_no %></td>
          <td><%= account.bank_type %></td>
          <td><%= account.bank_phone %></td>
          <td><%= account.area %></td>
          <td><%= account.balance %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2>没有帐户信息</h2>
<% end %>