<div class="c_acc_h">
  <div class="c_acc">
    <%= link_to"绑定账户",create_account_path(@user) %>
  </div>
</div>
<% unless @accounts.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>账户名</th>
      <th>账户类型</th>
      <th>账户号</th>
      <th>账户所属银行</th>
      <th>银行电话</th>
      <th>所属地区</th>
      <th>余额</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.bank_account, account_path(account) %></td>
          <% if account.account_type == "1"%>
              <td>支付账户</td>
          <% elsif account.account_type == "2"%>
              <td>银行卡</td>
          <%elsif account.account_type.nil? %>
              <td>没有信息</td>
          <% end %>
          <td><%= account.bank_account_no %></td>
          <% if account.bank_type.nil? %>
              <td>没有信息</td>
          <% else %>
              <td><%= account.bank_type %></td>
          <% end %>

          <% if account.bank_phone.nil? %>
              <td>没有信息</td>
          <% else %>
              <td><%= account.bank_phone %></td>
          <% end %>

          <% if account.area.nil? %>
              <td>没有信息</td>
          <% else %>
              <td><%= account.area %></td>
          <% end %>

          <% if account.balance.nil? %>
              <td>没有信息</td>
          <% else %>
              <td><%= account.balance %></td>
          <% end %>
          <td><%= link_to "解绑账号",account,method: :delete,data: {confirm: "确定解绑?"}%> | <%= link_to "修改密码",change_password_path(account)%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2>没有帐户信息</h2>
<% end %>