<h1>绑定账户</h1>
<div class="row" id="signupform">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@account) do |a| %>
        <%= render 'shared/account_error_messages' %>
        <%= a.label "银行账户" %>
        <%= a.text_field :bank_account %>
        <%= a.label "银行卡号" %>
        <%= a.text_field :bank_account_no %>
        <%= a.label "银行类型"%>
        <%= a.text_field :bank_type %>
        <%= a.label "银行电话"%>
        <%= a.text_field :bank_phone %>
        <%= a.label "地区" %>
        <%= a.text_field :area %>
        <%= a.hidden_field :user_id,:value => session[:user_id]%>
        <%= a.hidden_field :account_type,:value =>'2' %>
        <%= a.label "支付密码" %>
        <%= a.password_field :paypassword %>
        <%= a.label :paypassword_confirmation, "确认支付密码" %>
        <%= a.password_field :paypassword_confirmation %>
        <%= a.submit "绑定账户", class: "btn btn-primary" %><%= link_to "返回",:back %>
    <% end %>
  </div>
</div>